<h1>Drink-Da-Drink</h1>

<h2>Drinks to try</h2>

<ul>
  {{#each drinks}}
    {{#unless drink_up}}
      {{> drinks/drink-block drink_up=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Drinks that are drank</h2>

<ul class="drank">
  {{#each drinks}}
    {{#if drink_up}}
      {{> drinks/drink-block drink_up=false}}
    {{/if}}
  {{/each}}
</ul>

<div class="add">
<h2>Add a drink</h2>
<form class="create-form">
  <div class="form-group">
    <label for="drink">Choose a drink:</label>
      <select id="cars">
        <option value="Bay Breeze">Bay Breeze</option>
        <option value="Blue Hawaii">Blue Hawaii</option>
        <option value="Daiquiri">Daiquiri</option>
        <option value="Golden Dream">Golden Dream</option>
        <option value="Horchata">Horchata</option>
        <option value="Irish Coffee">Irish Coffee</option>
        <option value="Long Island Iced Tea">Long Island Iced Tea</option>
        <option value="Mai Tai">Mai Tai</option>
        <option value="Magarita">Magarita</option>
        <option value="Martini">Martini</option>
        <option value="Mimosa">Mimosa</option>
        <option value="Mojito">Mojito</option>
        <option value="Sangria">Sangria</option>
        <option value="Sidecar">Sidecar</option>
        <option value="Tequila Sunrise">Tequila Sunrise</option>
      </select>
      <button type="submit">Add Drink</button>
  </div>
</form>
</div>